table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    position: relative;
}

    th.resizable {
        position: relative;
    }

        th.resizable:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 5px;
            cursor: col-resize;
            background: rgba(0, 0, 0, 0.1);
        }

.rounded-border {
    border: 2px solid black; /* Black border */
    border-radius: 15px; /* Rounded corners */
    padding: 10px; /* Optional: adds padding inside the element */
}

#feedback {
    font-size: 1.4em;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

