@model IEnumerable<ReviewWebsite.Models.Db.Evaluations>

@{
    Layout = "_ManageLayout";
}
@section Css {

}
@section Scripts {

}
@* <div id="content">
    @await Html.PartialAsync("_Index", Model)
</div> *@

