@using ReviewWebsite.Models.Db
@model ReviewWebsite.Models.ViewModel.EvaluationCreateOrEditViewModel

@{
    Layout = "_Layout";
    // var widthNums = ViewData["Widths"] as List<float>;
    // var widths = widthNums.Select(w => $"width:{w}vw!important;").ToArray();
}
@section Css {
    <link rel="stylesheet" href="~/css/evalution.css" />
    <link rel="stylesheet" href="~/css/common.css" />
}

@section Scripts {
    <script src="~/js/handsontable.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/evalution.js" asp-append-version="true"></script>
}

<div class="row">
    <div class="col-12 card shadow-sm p-0">
        <div class="card-header-tab d-flex justify-content-between pe-3 ps-3 pt-3">
            <a asp-action="Index" type="button" class="btn btn-primary h2 " asp-controller="Form">返回</a>
            <span class="h3 ms-3">@ViewData["Title"]</span>
            <button type="button" class="btn btn-success h2 m-0" id="create">產生表單</button>
        </div>
        <div class="card-body h6 pe-0 ps-3 mb-0">
            <div class="d-flex align-items-center mb-2">
                <span class="flex-shrink-0 text-start" style="width: 90px;">
                    <label asp-for="SelectedUnits" class="control-label"></label>
                </span>
                <div class="flex-grow-1">
                    <ol class="list-unstyled d-flex flex-wrap gap-2 mb-0" id="selectable">
                        @foreach (var unit in Model.Units)
                        {   
                            <li class="ui-state-default px-3 py-1" data-id="@unit.UnitId">@unit.Name"</li>
                        }
                    </ol>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <span class="flex-shrink-0 text-start" style="width: 90px;">
                    <label asp-for="SelectedFromId" class="control-label"></label>
                </span>
                <select asp-for="SelectedFromId" class="form-select w-auto me-3"
                        asp-items="@(new SelectList(Model.FormList, nameof(FormList.FormId), nameof(FormList.Name)))">
                </select>
            </div>

        </div>
    </div>


    <div class="col-12 card shadow-sm p-0">
        <div class="card-header-tab d-flex justify-content-between pb-0 pe-3 ps-3 pt-3">
            <button type="button" class="btn btn-success h2 ms-auto" id="save">存儲</button>
        </div>

        <div class="card-body">
            <div id="spreadsheet" class="scroll-container">
                
            </div>
        </div>
    </div>
</div>

